<!-- Title -->
<div class="w-lg-80 text-center mx-lg-auto mb-5 mb-md-9">
  <h2 id="faq-title">Frequently Asked Questions</h2>
</div>
<!-- End Title -->

<div class="row">
  <div class="col-md-6 mb-3 mb-md-5">
    <div class="pr-md-4">
      <h4>Can I cancel at anytime?</h4>
      <p><strong>Yes.</strong> You can cancel anytime, no questions asked. However, we would highly appreciate if you will give us some feedback so we can improve.</p>
    </div>
  </div>

  <div class="col-md-6 mb-3 mb-md-5">
    <div class="pl-md-4">
      <h4>Is there a free trial?</h4>
      <p><strong>Yes.</strong> If you are a <strong>{{ site.brand.name }} Basic</strong> user, you are already on the free trial and you can access most of the service for <strong>free</strong>. In the trial, you are only able to recieve <strong>50 submissions</strong> per month and some features are disabled. As soon as you are ready to <strong>upgrade</strong> you can!</p>
    </div>
  </div>


  <!-- <div class="col-md-6 mb-3 mb-md-5">
    <div class="pr-md-4">
      <h4 id="faq-modules">What is a "Module"?</h4>
      <p>A <strong>Module</strong> is an individual <strong>bot</strong> / <strong>script</strong>. For example, you can run the <strong><a href="{{ site.url }}/platforms/instagram-bot">Instagram Promo Module</a></strong> to grow your Instagram and simultaneously run the <strong><a href="{{ site.url }}/platforms/soundcloud-bot">SoundCloud Play Generator Module</a> </strong> to get some plays on your SoundCloud tracks. </p>
      <p>Modules are conveniently separated so you can mix and match them. You can individually customize them exactly to your needs.</p>
    </div>
  </div>

  <div class="col-md-6 mb-3 mb-md-5">
    <div class="pl-md-4">
      <h4 id="faq-sessions">What is a "Session"?</h4>
      <p>A <strong>Session</strong> is like a profile for a tab. In our app, you can create multiple <strong>Sessions</strong> and assign a different proxy and/or user agent to each <strong>Session</strong>. </p>
      <p>Each <strong>Session</strong> has its own cache and storage and is separate from other <strong>Sessions</strong>, allowing you to multi-log any number of websites.</p>
    </div>
  </div> -->


  <div class="col-md-6 mb-3 mb-md-5">
    <div class="pr-md-4">
      <h4>How secure is {{ site.brand.name }}?</h4>
      <p><strong>Very secure</strong>. Protecting the data you trust to <strong>{{ site.brand.name }}</strong> is our first priority. We never store any of your credentials on our servers. We use secure third-party services like <strong>PayPal</strong> & <strong>Stripe</strong> to process all payments. </p>
    </div>
  </div>

  <!-- <div class="col-md-6 mb-3 mb-md-5">
    <div class="pl-md-4">
      <h4>Will my social media accounts be banned?</h4>
      <p><strong>No.</strong> If you follow our recomendations and use the app with moderation, there is zero chance you will put your accounts at risk. Be sure to never log in to an account on your phone or computer while you are automating that same account on Somiibo!</p>
    </div>
  </div>


  <div class="col-md-6 mb-3 mb-md-5">
    <div class="pr-md-4">
      <h4>Do you offer discounts?</h4>
      <p><strong>Yes.</strong> However, our prices are already <strong>extremely</strong> competitive. Some services charge you <strong>$30+ per month</strong> for a single account on a single site. We charge <strong>way less</strong> and let you manage up to 30 accounts on pretty much every social media site out there.</p>
    </div>
  </div> -->

  <div class="col-md-6 mb-3 mb-md-5">
    <div class="pl-md-4">
      <h4>What is your refund policy?</h4>
      <p>Since there is a full free trial of the service, refunds are given on a case-by-case basis. If we cannot help you solve an issue with the service, we will refund you immediately.</p>
    </div>
  </div>
</div>
